body {
    font-family: 'Open Sans', sans-serif;
    color: #444444;
    padding-bottom: 120px;
    font-size: 15px;
  }
  
  a {
    color: #106eea;
    text-decoration: none;
  }
  
  a:hover {
    color: #3b8af2;
    text-decoration: none;
  }
  
  .hero-image{
    margin-bottom: 20px;
    text-align: center;
  }
  .hero-image img{
    max-width: 652px;
    max-height: 355px;
  }
  header{
    text-align: center;
    background: #FFF7EC;
    border-bottom: 20px solid #ffc20e;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: +99;
    height: auto;
    box-shadow: 0 4px 5px 2px rgb(0 0 0 / 22%);
  }
  header img{
    max-height: 80px;
    max-width: 100%;
  }
  
  
  .php-email-form {
    padding: 20px;
    position: relative;
    border: 1px dotted #6d6d6d;
  }
  
  .php-email-form .form-loading {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(80 80 80 / 52%);
    text-align: center;
    padding-top: 100px;
  }
  .form-control, .form-select{
    border-radius: 0;
    border-color: #787878;
  }
  textarea:focus, 
  textarea.form-control:focus, 
  input.form-control:focus, 
  input[type=text]:focus, 
  input[type=password]:focus, 
  input[type=email]:focus, 
  input[type=number]:focus, 
  [type=text].form-control:focus, 
  [type=password].form-control:focus, 
  [type=email].form-control:focus, 
  [type=tel].form-control:focus, 
  [contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 #ddd;
    border-color: #787878;
    border-bottom-width: 3px;
  }
  
  .required{
    color: red;
  }
  
  h2, h4{
    margin-bottom: 15px;
    text-align: center;
  }
  h2{
    font-size: 22.5px;
  }
  h4{
    font-size: 20px;
  }
  
  label{
    font-weight: bold;
  }
  .next_button {
    color: #fff;
    background-color: #ffc20e;
  }



  @media screen and (max-width: 768px) {
    .btn{
      width: 100%;
    }
  }